@import '../../assets/common.less';

.container {
  .nav-left {
    height: calc(100vh - 60px);
    overflow-y: auto;
  }
  .main {
    background: @normal-background-color;
    height: calc(100vh - 60px);
    overflow: auto;
  }
  .content {
    position: relative;
    padding: 20px;
  }
}

.home-wrap {
  height: calc(60vh);
  background-color: @common-white;
  padding: 20px;
}
.search-title {
  color: @theme-color;
  margin-right: 5px;
  height: 100%;
}
.search-brief {
  max-width: 600px;
  word-wrap: break-word;
  white-space: normal;
}
.spinwrap {
  text-align: center;
  padding: 30px 50px;
  margin: 20px 0;
}
.dropdown-root {
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid @font-color-gray;
  &:before {
    top: 0;
    bottom: 0;
  }
}
